# Configurações do Servidor
PORT=3000

# Configurações do SMTP de E-mail (Ex: Office 365, Gmail Corp, SMTP Próprio)
SMTP_HOST=smtp.exemplo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=mrp@tecfag.com.br
SMTP_PASS=sua_senha_secreta
EMAIL_FROM="MRP Tecfag II" <mrp@tecfag.com.br>

# Destinatários de E-mail por Departamento para Alertas de Transição
EMAIL_VENDAS=vendas14@tecfag.com.br, vendas20@tecfag.com.br, vendas21@tecfag.com.br, vendas4@tecfag.com.br, vendas17@tecfag.com.br, vendas19@tecfag.com.br
EMAIL_COMPRAS=gilson@tecfag.com.br
EMAIL_ESTOQUE=almoxarifado2@tecfag.com.br
EMAIL_TECNICO=assistencia@tecfag.com.br
EMAIL_GERENTE=projetos@grupo.tecfag.com.br
