# Configurações do Servidor
PORT=3000

# Configurações do SMTP de E-mail (Ex: Office 365, Gmail Corp, SMTP Próprio)
SMTP_HOST=smtp.exemplo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=mrp@tecfag.com.br
SMTP_PASS=sua_senha_secreta
EMAIL_FROM="MRP Tecfag II" <mrp@tecfag.com.br>

# Destinatários de E-mail por Departamento para Alertas de Transição
EMAIL_VENDAS=vendas@tecfag.com.br
EMAIL_ENGENHARIA=engenharia@tecfag.com.br
EMAIL_COMPRAS=compras@tecfag.com.br
EMAIL_ESTOQUE=estoque@tecfag.com.br
EMAIL_TECNICO=tecnico@tecfag.com.br
EMAIL_GERENTE=pm@tecfag.com.br
